<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/javascripts/ipc.js"></script>
  <script>
    let broadcasts = getBroadcastData();
    let liveChatItems = '';
    document.addEventListener("DOMContentLoaded", function(event) {
      var vueapp = new Vue({
        el: '#app',
        data: {
          broadcasts: broadcasts,
          selectedLive: '',
          liveChat: [{test: "test"}],
        },
        methods: {
          vGetLiveChat:  (liveChatId) => {
            getLiveChat(liveChatId).then((chat) => {
              this.liveChat = chat.data;
              this.liveChat.splice();
              console.log(this.liveChat);
            });
          }
        }
      });
    });
  </script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div id="app">
    <select v-model="selectedLive" @change="vGetLiveChat(selectedLive.snippet.liveChatId);">
      <template v-for="live in broadcasts">
        <option v-if="live.snippet.liveChatId" v-bind:value="live">
          {{ live.snippet.title }}
        </option>
      </template>
    </select>
    <template v-if="selectedLive">
      {{ selectedLive.snippet.liveChatId }}
    </template>
    <div>
      {{ liveChat }}
    </div>
  </div>
</body>

</html>
