<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ja.js"></script>
  <script src="/javascripts/ipc.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      let vueapp = new Vue({
        el: '#app',
        data: {
          status: false,
          selectedLive: '',
          broadcasts: {},
          liveChat: {},
        },
        methods: {
          vGetLiveChat: function (liveChatId) {
            getLiveChat(liveChatId).then((chat) => {
              this.liveChat = chat.data;
            });
          },
          vReload: function () {
            location.reload();
          },
          vUpdateBroadcasts: async function () {
            const test = await getBroadcastData();
            this.broadcasts = test;
          }
        },
        created: function () {
          const stat = getAuthStatus();
          this.status = stat;
          this.vUpdateBroadcasts();
          this.$nextTick();
        },
        filters: {
          moment: function (date) {
            return moment(date).format('YYYY/MM/DD HH:mm:ss');
          }
        }
      });
    });
  </script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div id="app">
    <template v-if="status">
      <select v-model="selectedLive" @change="vGetLiveChat(selectedLive.snippet.liveChatId);">
        <template v-for="live in broadcasts">
          <option v-if="live.snippet.liveChatId" :value="live">
            {{ live.snippet.title }}
          </option>
        </template>
      </select>
      <template v-if="selectedLive">
        <p>{{ selectedLive.snippet.liveChatId }}</p>
      </template>
      <div class="chatItems">
        <div v-for="item in liveChat.items" class="chatItem">
          <div class="chatItem_image"><img v-bind:src="item.authorDetails.profileImageUrl"></div>
          <div class="chatItem_name">{{ item.authorDetails.displayName }}</div>
          <div class="chatItem_text">{{ item.snippet.displayMessage }}</div>
          <div class="chatItem_time">{{ item.snippet.publishedAt | moment }}</div>
        </div>
      </div>
    </template>
    <template v-else>
      <p>Googleアカウントでのログインが必要です。開いたブラウザからログインとアクセスの許可を行って下さい。</p>
      <p>アクセス許可が終わったら表示の更新ボタンで更新して下さい</p>
      <button @click="vReload">表示の更新</button>
    </template>
  </div>
</body>

</html>
